<head>
  <title>خمسات - لبيع وشراء الخدمات المصغرة</title>
<meta name="description" content="موقع خمسات. لبيع وشراء الخدمات المصغرة, إعرض خدماتك أو احصل على ما تريد بدء من خمسة دولار.">
<meta name="keywords" content="خمسات, خمسة, خدمات مصغرة, خمسة دولار, خدمات, برمجة, اعمال, تسويق, اعمال حرة, تصميم, كتابة, ترجمة">
<meta name="theme-color" content="#444">
<link href="https://khamsat.hsoubcdn.com/assets/images/favicon-740117d323c70fbc071fefd88fbff2f0bb0746f995a2f852ac2d46bea229f212.png" rel="shortcut icon" type="image/png">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/OpenSans.css" media="all">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/NotoArabic.css" media="all">
<link rel="stylesheet" href="https://khamsat.hsoubcdn.com/assets/css/application-7ae93331a6ca4253577ecd9bada418ea8ae96d41b18f273ed7d183353b9bcbd3.css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
</head>
<body class="hsoub-header-visible hsoub">


  <div class="hsoub-container">
    <div class="hsoub-content">
          <div class="hero">
    <div class="hero__container">
      <div class="hero__content">
        <h1>
          أكبر سوق عربي لبيع وشراء الخدمات المصغرة
        </h1>
        <h3>
          أنجز أعمالك بسهولة وأمان بأسعار تبدأ من 5$ فقط
        </h3>
        <a routerLink="register" class="c-button c-button--primary c-button--big">ابدأ الآن</a>
      </div>
    </div>
</div>
  <div class="o-wrapper homepage">

    <div class="content inside">
      <div id="loading" class="hidden">
        <p align="center">
          <img src="https://khamsat.hsoubcdn.com/assets/images/loading-b9f326901e161822ce76a37af0f8d0dfb8d2e913ff9782c13eb5d72bbda199c2.gif" alt="يرجى الإنتظار">
        </p>
      </div>

              <!--start service Section-->
<div class="services">
  <div class="services__container">
    <div class="services__title">
      <h2 class="services__title-text">كافة الخدمات الإبداعية والاحترافية لتطوير وتنمية أعمالك</h2>
    </div>
    <div class="clearfix">
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/business" class="services__item-content services__item--business">
                <span>أعمال</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/programming" class="services__item-content services__item--programming">
                <span>برمجة وتطوير</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/marketing" class="services__item-content services__item--marketing">
                <span>تسويق الكتروني</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/training" class="services__item-content services__item--training">
                <span>تدريب عن بعد</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/video-design" class="services__item-content services__item--video-design">
                <span>تصميم فيديو</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/designing" class="services__item-content services__item--designing">
                <span>تصميم</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/audio" class="services__item-content services__item--audio">
                <span>صوتيات</span>
              </a>
        </div>
        <div class="o-layout__item services__item u-12@tiny u-6@small  u-3@large">
            <a href="/writing" class="services__item-content services__item--writing">
                <span>كتابة وترجمة</span>
              </a>
        </div>
    </div>
  </div>
</div>
<!--End service Section-->


          <div class="o-layout o-layout--flex">
            <div class="o-layout__item u-12@medium u-12@tiny">
            </div>

              <div class="o-layout__item u-12@tiny">




            </div>

          </div><!--  END o-layout -->
        </div>
        <!--  END content -->
      </div>
      <!--  END o-wrapper -->
          <!--start search Section-->
<div class="search-container">
  <div class="search">
    <h2>
      ابحث عن الخدمة التي تحتاجها
    </h2>
    <div class="search__box">
      <span>
        <i class="fa fa-search"></i>
      </span>
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="جرّب: تصميم شعار أو ترجمة ..">
        <button class="search-button">
          بحث
        </button>
      </form>
    </div>
  </div>
</div>
<!--End search Section-->

<!-- start o-wrapper -->
<div class="o-wrapper homepage">
  <div class="content inside">
    <!--Start how we work Section-->
    <div class="how-we-work">
      <div class="how-we-work__container">
        <div class="how-we-work__title">
          <h2 class="how-we-work__title-text">كيف يعمل موقع خمسات</h2>
        </div>
        <div class="steps-holder">
          <div class="steps__container">
            <div class="step step__1">
              <div class="step__description">
                <div class="step__description-icon">
                  <img src="https://khamsat.hsoubcdn.com/assets/images/how1-b5e9c6611dcb9f2643b680823c4057cc216ede7370fc32b0924a80e300e3c093.svg" alt="icon">
                </div>
                <div class="step__description-content">
                  <p class="step__description-head">استعرض الخدمات</p>
                  <p>
                    ابحث عن الخدمة التي تحتاجها باستخدام مربع البحث في الأعلى أو عبر التصنيفات.
                  </p>
                </div>
              </div>
              <span>
                1
              </span>
            </div>

            <div class="step step__2">
              <div class="step__description">
                <div class="step__description-icon">
                  <img src="https://khamsat.hsoubcdn.com/assets/images/how2-5a0ec6002f6eff0e9feeef791bf35fe247a5f92a60ca9be252380a458d9016cc.svg" alt="icon">
                </div>
                <div class="step__description-content">
                  <p class="step__description-head">اطلب الخدمة</p>
                  <p>
                    راجع وصف الخدمة وتقييمات المشترين ثم اطلبها لفتح تواصل مع البائع.
                  </p>
                </div>
              </div>
              <span>
                2
              </span>
            </div>

            <div class="step step__3">
              <div class="step__description">
                <div class="step__description-icon">
                  <img src="https://khamsat.hsoubcdn.com/assets/images/how3-183e61cfe14abb5c5bd0f98259bce7cfb0a73b9442d4cb9652eac06740b65c9a.svg" alt="icon">
                </div>
                <div class="step__description-content">
                  <p class="step__description-head">استلم خدمتك</p>
                  <p>
                    تواصل مع البائع مباشرة داخل موقع خمسات حتى استلام طلبك كاملاً.
                  </p>
                </div>
              </div>
              <span>
                3
              </span>
            </div>
            <span class="arrow"></span>
          </div>
        </div>
      </div>
    </div>
    <!--End how we work Section-->
    <!--start FAQ Section-->
<div class="faq">
<div class="faq__container">
  <div class="faq__title">
    <h2 class="faq__title-text">أسئلة شائعة</h2>
  </div>
  <div class="faq__list">
    <div class="faq__line ">
      <div class="faq__line-head">
        <span>ما هو خمسات؟ </span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <p>
        خمسات هو أكبر سوق عربي لبيع وشراء الخدمات المصغرة. يجمع خمسات بين الشباب العربي الموهوب المستعد لتقديم خبراته ومهاراته على شكل خدمات مصغرة بأسعار تبدأ من 5 دولار، وبين الأفراد ورواد الأعمال الذين يحتاجون هذه الخدمات لتساعدهم في تنمية وتطوير أعمالهم.
      </p>
    </div>
    <div class="faq__line ">
      <div class="faq__line-head">
          <span>كيف يمكن أن أستفيد من خمسات؟ </span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <p>
        قد يتوقف إطلاق شركتك على تصميم شعار، أو يتوقف عملك بسبب الحاجة لمحتوى متجدد لموقعك، ربما تملك فكرة رائعة لبرنامج أو تطبيق ولكن ليست لديك أدنى فكرة عن البرمجة والتطوير، لديك بحث دراسي أو ترجمة مطلوبة في وقت معين وتحتاج لمن يساعدك فيها.
      </p>
      <p>
        يوفّر خمسات كل الخدمات الإبداعية والاحترافية التي تحتاجها لتنمية وتطوير أعمالك، والتي يمكن طلبها من أشخاص موهوبين مستعدين لخدمتك في إنجاز مهامك بسهولة عبر الإنترنت وبأسعار اقتصادية تتناسب مع الأفراد ورواد الأعمال من أصحاب المشاريع الناشئة.
      </p>
    </div>
    <div class="faq__line ">
      <div class="faq__line-head">
          <span>كيف يضمن موقع خمسات حقوقي؟ </span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <p>
        موقع خمسات يضمن لك حقوقك بشكل كامل، كن مطمئنا عند شراء أي خدمة معروضة في الموقع، يقوم خمسات بدور الوسيط بين المشتري والبائع ويحمي حقوق الطرفين المالية في حال الالتزام بشروط موقع خمسات وبنود الضمان والإبقاء على جميع التواصلات داخل الموقع.
      </p>
    </div>
    <div class="faq__line ">
      <div class="faq__line-head">
          <span>ماذا سيحدث بعد شرائي لأحد الخدمات المعروضة في خمسات؟ </span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <p>
        ستصلك رسالة بريدية لتأكيد عملية الشراء، وستتمكن من التواصل المباشر مع البائع ضمن صفحة الطلب. بعد قيام البائع بتنفيذ وتسليم الخدمة يمكنك تقييمها حتى يستفيد بقية المشترين من تجربتك، وفي حال تأخر البائع عن مدة تنفيذ الطلب الموضحة أو عدم التزامه بالوصف المحدد للخدمة يمكنك إلغاء الطلب واستعادة رصيدك كاملًا.
      </p>
    </div>
    <div class="faq__line ">
      <div class="faq__line-head">
          <span>ماذا لو لم أكن راضيا عن مستوى الخدمة المستلمة؟ </span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <p>
        في حال عدم رضاك عن الخدمة المستلمة يمكنك طلب التعديلات عليها من البائع، وفي حال كانت الخدمة المستلمة دون الجودة الموضحة في وصف الخدمة، يمكنك إلغاء الطلب ببساطة ليعود الرصيد لحسابك وتتمكن من شراء إحدى الخدمات الأخرى على الموقع. عند مواجهتك لأي مشكلة لا تتردد في التواصل بشكل مباشر مع خدمة العملاء عن طريق <a href="/r/helpdesk">مركز المساعدة</a>.

      </p>
    </div>
  </div>
</div>
</div>
<!--end FAQ Section-->

    <!--End services Section-->
    <!--Start Blogger Section-->
<div class="blogger">
<div class="blogger__container">
  <div class="blogger__title">
    <h2 class="blogger__title-text">دليلك لبدء مشروعك الناشئ</h2>
  </div>
  <div class="clearfix">
    <div class="o-layout__item u-12@tiny u-6@small  u-3@large">
      <div class="c-box">
        <a href="" class="c-box__url" target="_blank">
          <img class="c-box__image" src="./assets/images/Kh1.jpg" alt="image">
        </a>
        <h3 class="c-box__title">
          <a href="" target="_blank">
            أن تبدأ من الصفر: كيف تحوّل فكرتك إلى مشروع حقيقي؟
          </a>
        </h3>
      </div>
    </div>
    <div class="o-layout__item u-12@tiny u-6@small  u-3@large">
      <div class="c-box">
        <a href="" class="c-box__url" target="_blank">
          <img class="c-box__image" src="./assets/images/Kh2.jpg" alt="image">
        </a>
        <h3 class="c-box__title">
          <a href="" target="_blank">
            كل ما يجب أن تعرفه لتوسيع نطاق مشروعك ونصائح لتنمية أعمالك
          </a>
        </h3>
      </div>
    </div>
    <div class="o-layout__item u-12@tiny u-6@small  u-3@large">
      <div class="c-box">
        <a href="" class="c-box__url" target="_blank">
          <img class="c-box__image" src="./assets/images/Kh3.jpg" alt="image">
        </a>
        <h3 class="c-box__title">
          <a href="" target="_blank">
            الانتقال إلى المرحلة التّالية: بعد تأسيس المشروع لديك المزيد لتفعل
          </a>
        </h3>
      </div>
    </div>
    <div class="o-layout__item u-12@tiny u-6@small  u-3@large">
      <div class="c-box">
        <a href="" class="c-box__url" target="_blank">
          <img class="c-box__image"
          src="./assets/images/kh4.jpg" alt="image">
        </a>
          <h3 class="c-box__title">
          <a href="" target="_blank">
            10 خدمات مصغرة لا غنى عنها للشركات الناشئة ورواد الأعمال
          </a>
        </h3>
      </div>
    </div>
  </div>
</div>
</div>
<!--end Blogger Section-->
  </div>
  <!--end o-wrapper content-->
</div>
<!--end o-wrapper -->

<!-- Start register again sub section-->
<div class="register-again">
  <div>
    <h2>
      أنجز أعمالك بسهولة وأمان
    </h2>
    <a routerLink="/register" class="c-button c-button--primary c-button--big">سجّل مجاناً</a>
  </div>
</div>
<!-- End register again sub section-->



    </div>
  </div>





</body>
