<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/OpenSans.css" media="all">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/NotoArabic.css" media="all">
<header class="hsoub-header" style="">
  <div class="hsoub-box"><a class="hsoub-bars hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile">
      <i class="hsoub-bars-icon"></i>
    </a>
    <a href="/" class="hsoub-logo">
      <img class="hsoub-logo-img hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile"
       src="https://static.hsoubcdn.com/assets/images/logos/Hsoub-h100-ar-b.png"></a>

    <ul class="hsoub-menu hsoub-menu--is-minor">

      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet ">

        <a class="hsoub-menu-item-link  hsoub-menu-item-link--is-button hsoub-menu-item-link--is-button-justified  ">
          <i class="hsoub-menu-item-link-icon fa fa-user-plus"></i>

          <span>حساب جديد</span>
        </a>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile">
        <a class="hsoub-menu-item-link  hsoub-menu-item-link--is-button hsoub-menu-item-link--is-button-justified  "
          href="https://khamsat.com/login?t=f267a10a5b2b155034e9eeaf5899f17a">
          <i class="hsoub-menu-item-link-icon fa fa-sign-in"></i>
          <span>دخول</span>
        </a>
      </li>

    </ul>
  </div>
</header>
<aside class="hsoub-sidebar"><div class="hsoub-sidebar-wrapper"><ul class="hsoub-sidebar-menu"><li class="hsoub-sidebar-menu-item hsoub--visible-v hsoub-desktop hsoub-tablet hsoub-mobile">
  <a class="hsoub-sidebar-menu-item-link" href="/login">
    <i class="fa fa-fw fa-sign-in"></i>
    دخول
  </a>
</li><li class="hsoub-sidebar-menu-item hsoub--visible-v hsoub-desktop hsoub-tablet hsoub-mobile">
  <a class="hsoub-sidebar-menu-item-link" href="/register">
    <i class="fa fa-fw fa-user-plus"></i>
    حساب جديد
  </a>
</li><li class="hsoub-sidebar-menu-item hsoub--visible-v hsoub-desktop hsoub-tablet hsoub-mobile">
  <a class="hsoub-sidebar-menu-item-link" href="/terms">

    شروط استخدام حسوب
  </a>
</li><li class="hsoub-sidebar-menu-item hsoub--visible-v hsoub-desktop hsoub-tablet hsoub-mobile">
  <a class="hsoub-sidebar-menu-item-link" href="/privacy">

    بيان الخصوصية
  </a>
</li></ul></div></aside>






