<body>
  <div class="container" style="margin-top: 1em;">

    <div style="margin-top: 2em;">
      <h5>
        <a href="" style="font-size: 1.5em;float: right;" class="back-arrow" title="الرجوع الى المجتمع"> <i
            class="fa fa-chevron-right" aria-hidden="true"></i></a>
      </h5>
      <a href="" style="float: right;font-size: 2em;"> نماذج اعمال قمت بتنفيذها</a>

      <a routerLink="/NewModel" style="float: left;"><button class="btn btn-success">موضوع جديد</button></a>
    </div>
    <div style="clear: both;"></div>
    <br>
    <div class="card " id="forum_home">
      <div class="card-body" id="forum-showcase">
        <div style="float: right;" id="div">

          <a href="">
            <img class="rounded-circle" src="./assets/Images/avater.png" width="65 px" height="65px"
              style="vertical-align:middle" />
          </a>
          <span>
            <span><a href="">التعليق الصوتي للاعلانات</a></span>
            <ul class="details-list" style="display: inline;">
              <li>
                <a class="user" href="" style="color: gray;"><i class="fa fa-user"></i> الزهرة الزهرة</a>
                &nbsp;&nbsp;&nbsp; <i class="fa fa-clock-o"></i>
                <span dir="ltr">منذ يومين و8 دقائق

                </span>
              </li>

            </ul>
          </span>
        </div>
        <div class="media" id="div">

          <a href="">
            <img class="rounded-circle" src="./assets/Images/avatar2.png" width="65px" height="65px"
              style="vertical-align:middle" />
          </a>

          <span>
            <span>
              <a class="user" href="">Yasmin Alhayf</a></span>


            <ul class="details-list" style="display: inline;">
              <li>
                <span><i class="fa fa-clock-o"></i> آخر تفاعل منذ 6 دقائق</span>
              </li>
            </ul>
          </span>
        </div>
        <div style="clear: both;"></div>
        <br><br>
        <div>
          <button class="btn btn-outline-success" id="center"> عرض المواضيع الاقدم</button>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</body>